@media all and (max-width: 375px) {
    header {
        width: 100%;
        height: 64px;
        background-color: #282828;
        position: fixed;
        z-index: 2;
    }
    h1 {
        font-size: 32px;
        line-height: 50px;
        margin: 7px 0 0 20px;
    }
    .container {
        z-index: 1;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        height: calc(100vh - 64px);
        box-sizing: border-box;
    }
    .chat {
        overflow-y: scroll;
        height: calc(100% - 64px);
    }
    div.question {
        max-width: 50%;
        margin-bottom: 30px;
        margin-right: 35%;
    }
    div.questionAwait {
        max-width: 50%;
        margin-bottom: 45px;
        margin-right: 35%;
    }
    div.personAnswer {
        margin-left: 35%;
    }
    form {
        position: fixed;
        top: calc(100vh - 64px);
        height: 64px;
        width: 100%;
    }
    input {
        left: 85%;
    }
}